body {
    background-color: lightblue;
   vertical-align: middle;
     display: table-cell;
}

h1 {
    color: black;
    margin-left: 10px;
    font-size: 60px;
    margin-bottom: 150px;
}
h3 {
    color: black;
    margin-left: 10px;
    font-size: 40px
}
p {
    color: black;
    font-size: 24px;
}
html {
    display: table;
    margin: auto;
}
html, body {
    height: 100%;
}
footer{
 margin-top: 400px   
}
